<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<style type="text/css">
	.button {
		background-color: #4CAF50;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px 4px 20px;
		cursor: pointer;
	}
</style>
</head>
<body>
	<h1 th:text="${heading}"></h1>
	Hi <span th:text="${name}"></span>,
	<br /> <br />
	<span th:text="${message}"></span>
	<br /><br /><br />
	<a th:href="${verifyUrl}" class="button" th:text="${buttonName}"></a>
</body>
</html>